/**
 * import del fontface
 */
/**
 * font exo2
 */
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 900;
  src: url("./fonts/exo2/Exo2-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 800;
  src: url("./fonts/exo2/Exo2-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 700;
  src: url("./fonts/exo2/Exo2-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 600;
  src: url("./fonts/exo2/Exo2-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 500;
  src: url("./fonts/exo2/Exo2-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 400;
  src: url("./fonts/exo2/Exo2-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 300;
  src: url("./fonts/exo2/Exo2-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 200;
  src: url("./fonts/exo2/Exo2-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 100;
  src: url("./fonts/exo2/Exo2-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 900;
  src: url("./fonts/exo2/Exo2-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 800;
  src: url("./fonts/exo2/Exo2-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 700;
  src: url("./fonts/exo2/Exo2-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 600;
  src: url("./fonts/exo2/Exo2-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 500;
  src: url("./fonts/exo2/Exo2-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 400;
  src: url("./fonts/exo2/Exo2-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 300;
  src: url("./fonts/exo2/Exo2-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 200;
  src: url("./fonts/exo2/Exo2-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 100;
  src: url("./fonts/exo2/Exo2-ThinItalic.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* Makes sure that everything is 100% height */
html,
body {
  height: 100%;
  overflow: hidden;
}

/* gets the actual input out of the way;
we're going to style the label instead */
body {
  padding-top: 0;
}

body {
  font-family: "Exo 2", Arial, "Helvetica Neue", sans-serif;
}

.scelto a {
  box-sizing: border-box;
  border-bottom: 2px solid #00ff00;
}

.semaforo {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.presente .semaforo {
  background: yellow;
}

nav a {
  text-decoration: none;
  color: black;
}

/**
 * stili per l'intestazione della pagina
 */
header {
  display: inline-block;
  position: relative;
  width: 100%;
  left: 0;
  background: #efefef;
  padding: 10px;
  display: block;
}
header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html header {
  height: 1px;
}
header h1.brand {
  float: right;
}
header h1.brand .symbol {
  color: red;
  letter-spacing: -4px;
  padding-right: 4px;
}
header h1.brand .tail {
  color: #777;
}
header ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  float: left;
}
header ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html header ul {
  height: 1px;
}
header select {
  float: left;
}
header #ctrl_dictionary ul {
  display: inline-block;
  display: block;
}
header #ctrl_dictionary ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html header #ctrl_dictionary ul {
  height: 1px;
}
header #ctrl_dictionary ul li {
  float: right;
  padding-left: 10px;
}

#main-container {
  height: 100%;
  width: 100%;
  position: relative;
}

/**
 * stili per il drawer
 */
/* drawer menu pane - note the 0px width */
#drawer {
  position: absolute;
  top: 0;
  left: -300px;
  height: 100%;
  width: 300px;
  background: #2f2f2f;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
}
#drawer ul {
  list-style-type: none;
}
#drawer ul a {
  display: inline-block;
  color: #c7c7c7;
  text-decoration: none;
}
#drawer ul a:hover {
  color: white;
}

#drawer-toggle {
  position: absolute;
  opacity: 0;
}
#drawer-toggle:checked {
  /* checked styles (menu open state) */
}
#drawer-toggle:checked ~ #drawer-toggle-label {
  height: 100%;
  width: calc(100% - 300px);
  background: rgba(255, 255, 255, 0.8);
  left: 300px;
}
@media all and (max-width: 350px) {
  #drawer-toggle:checked ~ #drawer-toggle-label {
    height: 100%;
    width: 50px;
    left: calc(100% - 50px);
  }
}
#drawer-toggle:checked ~ #drawer-toggle-label .icons {
  display: none;
}
#drawer-toggle:checked ~ #drawer {
  left: 0;
}
@media all and (max-width: 350px) {
  #drawer-toggle:checked ~ #drawer {
    width: calc(100% - 50px);
    padding: 10px;
  }
}
#drawer-toggle:checked ~ #page-content {
  margin-left: 300px;
}
@media all and (max-width: 350px) {
  #drawer-toggle:checked ~ #page-content {
    margin-left: calc(100% - 50px);
  }
}

#drawer-toggle-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
  background: transparent;
  z-index: 1;
  padding: 10px;
}

/**
 * stili per il contenuto della pagina
 */
div#page-content {
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}
div#page-content #lista_lingue {
  width: calc(100% - 50px);
  margin-left: 50px;
}
div#page-content #lista_lingue ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  display: block;
  text-align: right;
}
div#page-content #lista_lingue ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html div#page-content #lista_lingue ul {
  height: 1px;
}
div#page-content #lista_lingue ul li {
  display: inline-block;
  padding-left: 12px;
}
div#page-content #lista_lingue ul li:first-child {
  padding-left: 0;
}
div#page-content #ctrl_voce {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
div#page-content #ctrl_voce ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
}
div#page-content #ctrl_voce ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html div#page-content #ctrl_voce ul {
  height: 1px;
}
div#page-content #ctrl_voce ul li {
  float: left;
}
div#page-content #editor_area .vocabolo .contenuto {
  width: 100%;
}
div#page-content #editor_area .vocabolo .ctrl_voce {
  text-align: right;
}
div#page-content #editor_area .vocabolo .ctrl_voce .btn_salva {
  display: inline-block;
  padding: 0 10px;
  background: #777;
  font-weight: 800;
  line-height: 24px;
  font-size: 14.4px;
  height: 24px;
  border-radius: 24px;
  color: white;
}

/*# sourceMappingURL=main.css.map */
