div#page-content {
    margin-left: $none;
    margin-top: $none;
    width: $full_length;
    height: calc(#{$full_length} - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: $basePad;

    #lista_lingue {
        width: calc(#{$full_length} - #{$btn_drawar_size});
        margin-left: $btn_drawar_size;
        ul{
            @include clearfix;
            list-style: {
                type: none;
            }
            padding-left: $none;
            display: block;
            text-align: right;
            li {
                display: inline-block;
                padding-left: $fsize;

                &:first-child {
                    padding-left: $none;
                }
            }
        }

    }

    #ctrl_voce {
        position: fixed;

        bottom: 25px;
        right: 25px;

        ul {
            @include clearfix;
            list-style: {
                type: none;
            }

            padding-left: $none;

            li {
                float:left;
            }
        }
    }

    #editor_area {

        .vocabolo{
            .contenuto {
                width: $full_length;
            }

            .ctrl_voce {
                text-align: right;
                .btn_salva {
                    display: inline-block;
                    padding: $none $basePad;
                    background: #777;
                    font-weight: 800;
                    line-height: $lheight * 1.5;
                    font-size: $fsize * 1.2;
                    height: $lheight * 1.5;
                    border-radius: $lheight * 1.5;
                    color: white;
                }
            }
        }
    }
}
