
/* drawer menu pane - note the 0px width */
#drawer {
    position: absolute;
    top: $none;
    left: -$drawarWidth;
    height: $full_length;
    width: $drawarWidth;
    background: #2f2f2f;
    overflow-x: hidden;
    overflow-y: auto;
    padding: $basePad;
    -webkit-overflow-scrolling: touch;

    ul {
        list-style-type: none;
        a {
            display: inline-block;
            //padding: $basePad;
            color: #c7c7c7;
            text-decoration: none;

            &:hover {
            color: white;
            }
        }
    }
}

#drawer-toggle {
    position: absolute;
    opacity: 0;

    &:checked {

          /* checked styles (menu open state) */
        & ~ #drawer-toggle-label {
              height: $full_length;
              width: calc(#{$full_length} - #{$drawarWidth});
              background: rgba(255, 255, 255, 0.8);
              left: $drawarWidth;

            @media all and (max-width: 350px) {
                height: $full_length;
                width: $btn_drawar_size;
                left: calc(#{$full_length} - #{$btn_drawar_size});
            }
            .icons {
                display: none;
            }
        }

        & ~ #drawer {
            left: $none;

            @media all and (max-width: 350px) {
                width: calc(#{$full_length} - #{$btn_drawar_size});
                padding: $basePad;
            }
        }

        & ~ #page-content {
            margin-left: $drawarWidth;

            @media all and (max-width: 350px) {
                margin-left: calc(#{$full_length} - #{$btn_drawar_size});
            }
        }
    }
}

#drawer-toggle-label {
    -webkit-touch-callout: none;
    @include userselect(none);
    left: $none;
    height: $btn_drawar_size;
    width: $btn_drawar_size;
    display: block;
    position: absolute;;
    background: transparent;
    z-index: 1;
    padding: $basePad;
}
