header {
    @include clearfix;
    position: relative;
    width: $full_length;
    left: $none;
    background: #efefef;
    padding: 10px;
    display: block;

    h1.brand {
        float: right;
        .symbol {
            color: red;
            letter-spacing: -($fsize - 8);
            padding-right: $fsize - 8;
        }

        .tail {
            color: #777;
        }
    }
    ul {
        @include clearfix;
        list-style: {
            type: none;
        }
        padding-left: $none;
        float: left;
    }

    select {
        float: left;
    }

    #ctrl_dictionary {
        ul {
            @include clearfix;
            display: block;
            li {
                float: right;
                padding-left: $basePad;
            }
        }
    }

}
