$fsize: 12px;
$lheight: 16px;
$none: 0;
$fexo2: "Exo 2", Arial, "Helvetica Neue", sans-serif;
$full_length: 100%;
$basePad: 10px;
$drawarWidth: 300px;
$btn_drawar_size: 50px;

@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

@mixin boxsizing($value){
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    -o-box-sizing: $value;
    box-sizing: $value;
}

@mixin t_easyinout($time){
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    -o-transition: $time ease-in-out;
    transition: $time ease-in-out;
}

@mixin userselect($value) {
    -webkit-user-select: $value;
    -khtml-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

/**
 * import del fontface
 */
@import "font_exo2";

* {
    @include boxsizing(border-box);
    @include t_easyinout(.25s);

    margin: $none;
    padding: $none;
    -webkit-text-size-adjust: none;
}

/* Makes sure that everything is 100% height */
html,
body {
  height: $full_length;
  overflow: hidden;
}

/* gets the actual input out of the way;
we're going to style the label instead */
body {
  padding-top: $none;
}


body {
    font: {
        family: $fexo2;
    }
}

.scelto {
    a {
        box-sizing: border-box;
        border-bottom: 2px solid #00ff00;
    }
}

.semaforo {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    .presente & {
        background: yellow;
    }
}

nav a {
    text-decoration: none;
    color: black;
}

/**
 * stili per l'intestazione della pagina
 */
@import "header";

#main-container {
    height: $full_length;
    width: $full_length;
    position: relative;
}

/**
 * stili per il drawer
 */
@import "drawer";

/**
 * stili per il contenuto della pagina
 */
@import "content";
