<span ng-switch="$ctrl.editMode">

  <input ng-switch-when="true" type="{{$ctrl.fieldType}}" ng-model="$ctrl.fieldValue">

  <span ng-switch-default>{{$ctrl.fieldValue}}</span>
</span>
<button ng-click="$ctrl.handleModeChange()">
    <span
    class="icons"
    data-ng-class="{
        'icon-pencil': !$ctrl.editMode,
        'icon-check': $ctrl.editMode
    }"
    ></span>
</button>
<button ng-if="$ctrl.editMode" ng-click="$ctrl.reset()"><span class="icons icon-action-undo"></span></button>
