<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quick'n dirty Dictionary</title>
        <link href="./styles/bin/main.css" rel="stylesheet" />
        <link href="./styles/bin/thesabbir/simple-line-icons-master/css/simple-line-icons.css" rel="stylesheet" />
        <link href="./js/angular-material-icons-master/angular-material-icons.css" rel="stylesheet" />
        <script src="./js/angular-1.5.0/angular.js"></script>
        <script src="./js/angular-material-icons-master/angular-material-icons.js"></script>
        <script src="./js/myapp/Eupheme.js"></script>

        <style>
        </style>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <header>
            <h1 class="brand">
                <span class="symbol">QnD</span><span class="tail">ictionary</span>
            </h1>
            <nav>
                <ul id="dictionaries" data-ng-model="selectedDictionary">
                    <li
                    data-ng-class="{scelto: activeDizionario === x , presente: availableDicts.indexOf(x) >= 0}"
                    data-ng-repeat="x in eupheme.dicts | filter : cerca_d | orderBy"
                    data-ng-click="setActiveDizionario(x)"
                    value="{{x}}" >
                        <span class="semaforo"></span>
                        <a href="#">{{x}}</a>
                </ul>
            </nav>
            <nav id="ctrl_dictionary">
                <ul>
                    <li>
                        <create-field
                            field-value="''"
                            field-type="text"
                            on-update="newDict(value)"
                        ></create-field>
                    </li>
                    <li><input type="text" data-ng-model="cerca_d" placeholder="cerca" /></li>
                </ul>
            </nav>
        </header>
        <div id="main-container">
            <input type="checkbox" id="drawer-toggle" name="drawer-taggle" />
            <label for="drawer-toggle" id="drawer-toggle-label"><span class="icon-list icons"></span></label>
            <nav id="drawer">
                <ul>
                    <li>
                        <input
                        type="text"
                        data-ng-model="cerca"
                        placeholder="cerca" />
                    </li>
                    <li>
                        <create-field
                            field-value="''"
                            field-type="text"
                            on-update="newWord(value)"
                        ></create-field>
                    </li>
                    <li
                    data-ng-repeat="key in eupheme.words | filter: cerca | orderBy"
                    data-key-value="{{key}}"
                    data-ng-click="editVocabolo(key)">
                        <span class="semaforo"></span>
                        <a href="#">{{key}}</a>
                    </li>
                </ul>
            </nav>
            <div id="page-content">
                <nav id="lista_lingue">
                    <ul>
                        <li>
                            <create-field
                                field-value="''"
                                field-type="text"
                                on-update="newLang(value)"
                            ></create-field>
                        </li>
                        <li
                        data-ng-repeat="lang in eupheme.langs"
                        data-ng-class="{scelto: availableLangs.indexOf(lang) >= 0}"
                        data-ng-click="addLang(lang, activeDizionario, activeVocabolo)" >
                            <a href="#">{{lang}}</a>
                        </li>
                    </ul>
                </nav>
                <section id="editor_area">
                    <h2>{{activeVocabolo}}</h2>
                    <div
                    class="vocabolo"
                    data-ng-repeat="v in traduzioni"
                    id="{{lingua}}">
                        <h3 class="lingua" data-ng-bind="v.lingua"></h3>
                        <textarea
                        data-elastic
                        data-ng-model="content"
                        data-ng-init="content=v.contenuto"
                        class="contenuto" >
                            {{v.contenuto}}
                        </textarea>
                        <nav class="ctrl_voce">
                            <a href="#" class="btn_salva" data-ng-click="salvaVoce(v.lingua, activeDizionario, activeVocabolo, content)">Salva</a>
                        </nav>
                    </div>
                </section>
                <div>
                    <!-- <p ng-repeat="(k, v) in eupheme.values">
                    {{k}}: {{v}}</p> -->
                </div>
                <!-- <list-view
                title="'Dizionari'"
                items="dicts"
                on-update="renameDizionario(oldValue, newValue)"
                on-delete="test()"
                on-create="newDict(value)"
                ></list-view>
                <list-view
                title="'Lingue'"
                items="langs"
                on-update="test($scope, ctrl)"
                on-delete="test($scope, ctrl)"
                on-create="newLang(value)"
                ><list-view> -->
        </div>

    </div>
        <script src="./js/myapp/dictionaryview.js"></script>
        <script src="./js/myapp/listView.js"></script>
        <script src="./js/myapp/listItem.js"></script>
        <script src="./js/myapp/editableField.js"></script>
        <script src="./js/myapp/createField.js"></script>
    </body>
</html>
