<div>
    <editable-field
        field-value="$ctrl.value"
        field-type="text"
        on-update="$ctrl.update(oldValue, newValue)"
    ></editable-field>
    <button ng-click="$ctrl.delete($ctrl.value)">
    <span class="icons icon-close"></span>
    </button>
</div>
