<b>{{$ctrl.title}}</b><br>
<div>
    <create-field
        field-value="''"
        field-type="text"
        on-update="$ctrl.createItem(value)"
    ></create-field>
</div>
<list-item
ng-repeat="item in $ctrl.items"
index="$index"
value="item"
on-delete="$ctrl.deleteItem(value)"
on-update="$ctrl.updateItem(oldValue, newValue)"
></list-item>
